<!-- Launches Kobuki Gazebo simulation in an empty world -->
<launch>
	<!-- start Gazebo with an empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
		<arg name="debug" value="false"/>
		<arg name="world_name" value="$(find kobuki_gazebo)/worlds/empty.world"/>
	</include>

  	<!-- spawn the robots -->
	<group ns="robot0">
		<param name="robot_description" command="$(find xacro)/xacro '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'"/>
		<node pkg="gazebo_ros" type="spawn_model" name="spawn_robot0" args="-x 0.0 -y 0.0 -z 1.5 -unpause -urdf -param robot_description -model robot0" respawn="false">
		</node>

  		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
			<param name="publish_frequency" type="double" value="100.0"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="robot0_nodelet_manager" args="manager"/>
	</group>
  
	<group ns="robot1">
		<param name="robot_description" command="$(find xacro)/xacro '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'"/>
		<node pkg="gazebo_ros" type="spawn_model" name="spawn_robot1" args="-x 10.0 -y 0.0 -z 1.5 -Y 3.14159 -unpause -urdf -param robot_description -model robot1" respawn="false">
		</node>

  		<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
			<param name="publish_frequency" type="double" value="100.0"/>
		</node>
		<node pkg="nodelet" type="nodelet" name="robot1_nodelet_manager" args="manager"/>
	</group>
</launch>
