<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--<rosparam file="$(find gazebo_worlds)/controllers.yaml" command="load"/>-->

    <param name="robot_description" command="$(find xacro)/xacro '$(find gazebo_worlds)/urdf/herbie.xacro'" />
    
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model herbie -x $(arg x) -y $(arg y) -z $(arg z)" />
    
    <!--<node name="controller_spawner" pkg="controller_manager" type="spawner" args="mobile_base_controller"/>-->
          
</launch>
